---
import Layout from '../layouts/Layout.astro';
import Proyectos from '../components/Proyectos.astro';
import Contactos from '../components/Contactos.astro';
import Usercard from '../components/usercard.astro';
---

    <Layout/>   
    <div class="grid grid-cols-1 gap-24 lg:gap-12">
    <Usercard/>
    <Proyectos/>
    <Contactos/>
</div>
