
<div class=" bg-gray-200 ml-16 mt-12 lg:h-64 w-64  rounded-md mx-12 content-center ">
  <ul class="grid grid-cols-1 gap-12 m-6"> 
    <a href="https://firebasestorage.googleapis.com/v0/b/mardigioda.appspot.com/o/portfolio%2FCV%20Giuliano%20Angeleri-4.pdf?alt=media&token=e5aff2bd-23d2-4911-9fd2-ea75d415d734" target="balnk"><li class=" text-md text-blue-500 font-semibold italic ">Curriculum community manager</li></a>
    <a href="https://firebasestorage.googleapis.com/v0/b/mardigioda.appspot.com/o/portfolio%2FCV%20Giuliano%20Angeleri-industria.pdf?alt=media&token=bb6f925c-12bf-400b-ae73-7e371405f523" target="_blank"><li class="text-md text-blue-500 font-semibold italic">Curriculum industrial</li></a>
    <a href="https://firebasestorage.googleapis.com/v0/b/mardigioda.appspot.com/o/portfolio%2FGIULIANO-ANGELERI-data%20entry.pdf?alt=media&token=a3b2a544-48be-4a63-95bc-c0f95732e326" target="_blank"><li class=" text-md text-blue-500 font-semibold italic">Curriculum Data Entry</li></a>

    </ul> 
  </div>

    
