<!-- Contenedor principal -->
<div class="flex justify-center items-center h-auto lg:mr-34 md:ml-34 gap-2">
<div>
    <!-- Tarjeta de presentación -->
    <div class="w-full max-w-xs bg-white rounded-full shadow-lg dark:bg-gray-800">
      <div>
        <img class="object-cover w-full h-58 rounded-md" src="avatar.jpg" alt="avatar">
      </div>
      <div class="py-5 text-center">
        <a href="#" class="block text-lg font-bold text-gray-800 dark:text-white" tabindex="0" role="link">Giuliano Angeleri Aazategui</a>
        <ul class="text-sm text-gray-700 dark:text-gray-200">
          <li>Community Manager</li>
          <li>Web Developer</li>
        </ul>
      </div>
    </div>
  </div>
  